
$orange = #E37B40
$bluegreen = #46B29D
$red = #DE5B49
$blue = #324D5C
$yellow = #F0CA3D

// Font Family for Logo - Lobster
@font-face
    font-family 'cartoonisthand-regular'
    src url('../fonts/cartoonist-hand.ttf') format('truetype')

@font-face
    font-family 'lobster'
    src url('../fonts/lobster.otf') format('opentype')

@font-face
    font-family 'komika-text'
    src url('../fonts/komika-text.ttf') format('truetype')

@font-face
    font-family 'komika-title'
    src url('../fonts/komika-title.ttf') format('truetype')

// Import all partials
@require './*.styl'

// Prevents Highlighting
.noselect{
    -webkit-touch-callout: none; /* iOS Safari */ 
    -webkit-user-select: none; /* Safari */ 
    -khtml-user-select: none; /* Konqueror HTML */ 
    -moz-user-select: none; /* Firefox */ 
    -ms-user-select: none; /* Internet Explorer/Edge */ 
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */ 
    user-drag: none;
    } 

.hidden
    display none

.center
    margin-left auto
    margin-right auto
    text-align center

body {
    background url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+")
    overflow-x hidden
    }

.mdc-top-app-bar
    background-color $bluegreen
    z-index 1
    box-shadow 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12)
    
.mdc-top-app-bar__title{
    color $orange
    font-family komika-title
    font-weight bold
    font-size 28px
    overflow visible
    -webkit-text-stroke 1px #282828;
	text-shadow 0px 4px 4px #282828;
    }
.Page
    padding-top 70px
    max-width 1110px
    min-width 320px
    
.padded
    padding-left 240px
    transition: 0.25s
.unpadded
    padding-left: 0px
    transition 0.2s

.mdc-drawer__drawer
    z-index 2
    position fixed
    user-drag none
    -moz-user-select none
    -webkit-user-drag none
  
.mdc-drawer__header
    min-height 220px
    background #191970
    color #ffffff

.mdc-list-item__text
    font-family komika-title 
    font-size 20px 

.mdc-drawer__header-content
    text-align center
    flex-wrap wrap

.flex_block
    flex: 0 0 100%

.mdc-typography--headline4, .mdc-typography--headline5, .mdc-typography--headline6, .mdc-typography--body1
    font-family komika-text

.mdc-text-field--upgraded:not(.mdc-text-field--fullwidth):not(.mdc-text-field--box)
    display flex

.mdc-drawer__content
    flex-grow 8

.drawer_footer
    flex 1
    text-align center

.SignForm
    width 21rem
    margin auto
    background-color transparent
    box-shadow none

.SignForm .mdc-typography--headline2{
    text-align center
    color $orange
    font-family komika-title
    font-weight bold
    font-size 50px
    overflow visible
    -webkit-text-stroke: 1px #282828;
	text-shadow: 0px 4px 4px #282828;
    }

.SignDiv
    padding 0 1rem 0rem 1rem 

.SignButtons
    justify-content flex-end
    
.SignButtons .mdc-button--raised
    background-color $red
    margin-right 10px
    margin-left 10px
    min-width 92px

.Auth
    display flex
    height 100vh
    background-color: #46b29d;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");

.SignForm .mdc-text-field
    background-color #ffffff
    border-radius 4px
    width: 100%

.LinkButtons
    margin-left 8px

.LinkButtons .mdc-button
    color #ffffff
    font-size 11px
    padding-left 4px
    padding-right 4px
    margin-left 2px
    margin-right 2px

.image
    width 120px
    height 120px
    margin auto
    background-size cover
    background-repeat no-repeat
    background-position 50% 50%
    border-radius 50%

.displayName, .displayEmail
   text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000

.tweetarea
  width 100%
  margin-bottom 0px

.actionmenu .mdc-card
  margin-bottom 10px

.posttweet .mdc-card__actions
  justify-content flex-end

.feed .mdc-card
 margin-bottom 10px

.mdc-theme--text-secondary-on-background
  margin 0