@font-face {
  font-family: 'cartoonisthand-regular';
  src: url("../fonts/cartoonist-hand.ttf") format('truetype');
}
@font-face {
  font-family: 'lobster';
  src: url("../fonts/lobster.otf") format('opentype');
}
@font-face {
  font-family: 'komika-text';
  src: url("../fonts/komika-text.ttf") format('truetype');
}
@font-face {
  font-family: 'komika-title';
  src: url("../fonts/komika-title.ttf") format('truetype');
}
@font-face {
  font-family: 'cartoonisthand-regular';
  src: url("../fonts/cartoonist-hand.ttf") format('truetype');
}
@font-face {
  font-family: 'lobster';
  src: url("../fonts/lobster.otf") format('opentype');
}
@font-face {
  font-family: 'komika-text';
  src: url("../fonts/komika-text.ttf") format('truetype');
}
@font-face {
  font-family: 'komika-title';
  src: url("../fonts/komika-title.ttf") format('truetype');
}
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15 /* 1 */;
  -webkit-text-size-adjust: 100% /* 2 */;
}
body {
  margin: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  -webkit-box-sizing: content-box /* 1 */;
          box-sizing: content-box /* 1 */;
  height: 0 /* 1 */;
  overflow: visible /* 2 */;
}
pre {
  font-family: monospace, monospace /* 1 */;
  font-size: 1em /* 2 */;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none /* 1 */;
  text-decoration: underline /* 2 */;
  text-decoration: underline dotted /* 2 */;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace /* 1 */;
  font-size: 1em /* 2 */;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit /* 1 */;
  font-size: 100% /* 1 */;
  line-height: 1.15 /* 1 */;
  margin: 0 /* 2 */;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]-moz-focusring,
[type="reset"]-moz-focusring,
[type="submit"]-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  -webkit-box-sizing: border-box /* 1 */;
          box-sizing: border-box /* 1 */;
  color: inherit /* 2 */;
  display: table /* 1 */;
  max-width: 100% /* 1 */;
  padding: 0 /* 3 */;
  white-space: normal /* 1 */;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box /* 1 */;
          box-sizing: border-box /* 1 */;
  padding: 0 /* 2 */;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield /* 1 */;
  outline-offset: -2px /* 2 */;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button /* 1 */;
  font: inherit /* 2 */;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  user-drag: none;
}
.hidden {
  display: none;
}
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
body {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+");
  overflow-x: hidden;
}
.mdc-top-app-bar {
  background-color: #46b29d;
  z-index: 1;
  -webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12);
          box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12);
}
.mdc-top-app-bar__title {
  color: #e37b40;
  font-family: komika-title;
  font-weight: bold;
  font-size: 28px;
  overflow: visible;
  -webkit-text-stroke: 1px #282828;
  text-shadow: 0px 4px 4px #282828;
}
.Page {
  padding-top: 70px;
  max-width: 1110px;
  min-width: 320px;
}
.padded {
  padding-left: 240px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.unpadded {
  padding-left: 0px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.mdc-drawer__drawer {
  z-index: 2;
  position: fixed;
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}
.mdc-drawer__header {
  min-height: 220px;
  background: #191970;
  color: #fff;
}
.mdc-list-item__text {
  font-family: komika-title;
  font-size: 20px;
}
.mdc-drawer__header-content {
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.flex_block {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.mdc-typography--headline4,
.mdc-typography--headline5,
.mdc-typography--headline6,
.mdc-typography--body1 {
  font-family: komika-text;
}
.mdc-text-field--upgraded:not(.mdc-text-field--fullwidth):not(.mdc-text-field--box) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mdc-drawer__content {
  -webkit-box-flex: 8;
      -ms-flex-positive: 8;
          flex-grow: 8;
}
.drawer_footer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
.SignForm {
  width: 21rem;
  margin: auto;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.SignForm .mdc-typography--headline2 {
  text-align: center;
  color: #e37b40;
  font-family: komika-title;
  font-weight: bold;
  font-size: 50px;
  overflow: visible;
  -webkit-text-stroke: 1px #282828;
  text-shadow: 0px 4px 4px #282828;
}
.SignDiv {
  padding: 0 1rem 0rem 1rem;
}
.SignButtons {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.SignButtons .mdc-button--raised {
  background-color: #de5b49;
  margin-right: 10px;
  margin-left: 10px;
  min-width: 92px;
}
.Auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  background-color: #46b29d;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
}
.SignForm .mdc-text-field {
  background-color: #fff;
  border-radius: 4px;
  width: 100%;
}
.LinkButtons {
  margin-left: 8px;
}
.LinkButtons .mdc-button {
  color: #fff;
  font-size: 11px;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 2px;
  margin-right: 2px;
}
.image {
  width: 120px;
  height: 120px;
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
}
.displayName,
.displayEmail {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.tweetarea {
  width: 100%;
  margin-bottom: 0px;
}
.actionmenu .mdc-card {
  margin-bottom: 10px;
}
.posttweet .mdc-card__actions {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.feed .mdc-card {
  margin-bottom: 10px;
}
.mdc-theme--text-secondary-on-background {
  margin: 0;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  user-drag: none;
}
.hidden {
  display: none;
}
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
body {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+");
  overflow-x: hidden;
}
.mdc-top-app-bar {
  background-color: #46b29d;
  z-index: 1;
  -webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12);
          box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12);
}
.mdc-top-app-bar__title {
  color: #e37b40;
  font-family: komika-title;
  font-weight: bold;
  font-size: 28px;
  overflow: visible;
  -webkit-text-stroke: 1px #282828;
  text-shadow: 0px 4px 4px #282828;
}
.Page {
  padding-top: 70px;
  max-width: 1110px;
  min-width: 320px;
}
.padded {
  padding-left: 240px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.unpadded {
  padding-left: 0px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.mdc-drawer__drawer {
  z-index: 2;
  position: fixed;
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}
.mdc-drawer__header {
  min-height: 220px;
  background: #191970;
  color: #fff;
}
.mdc-list-item__text {
  font-family: komika-title;
  font-size: 20px;
}
.mdc-drawer__header-content {
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.flex_block {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.mdc-typography--headline4,
.mdc-typography--headline5,
.mdc-typography--headline6,
.mdc-typography--body1 {
  font-family: komika-text;
}
.mdc-text-field--upgraded:not(.mdc-text-field--fullwidth):not(.mdc-text-field--box) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mdc-drawer__content {
  -webkit-box-flex: 8;
      -ms-flex-positive: 8;
          flex-grow: 8;
}
.drawer_footer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
.SignForm {
  width: 21rem;
  margin: auto;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.SignForm .mdc-typography--headline2 {
  text-align: center;
  color: #e37b40;
  font-family: komika-title;
  font-weight: bold;
  font-size: 50px;
  overflow: visible;
  -webkit-text-stroke: 1px #282828;
  text-shadow: 0px 4px 4px #282828;
}
.SignDiv {
  padding: 0 1rem 0rem 1rem;
}
.SignButtons {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.SignButtons .mdc-button--raised {
  background-color: #de5b49;
  margin-right: 10px;
  margin-left: 10px;
  min-width: 92px;
}
.Auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  background-color: #46b29d;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
}
.SignForm .mdc-text-field {
  background-color: #fff;
  border-radius: 4px;
  width: 100%;
}
.LinkButtons {
  margin-left: 8px;
}
.LinkButtons .mdc-button {
  color: #fff;
  font-size: 11px;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 2px;
  margin-right: 2px;
}
.image {
  width: 120px;
  height: 120px;
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
}
.displayName,
.displayEmail {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.tweetarea {
  width: 100%;
  margin-bottom: 0px;
}
.actionmenu .mdc-card {
  margin-bottom: 10px;
}
.posttweet .mdc-card__actions {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.feed .mdc-card {
  margin-bottom: 10px;
}
.mdc-theme--text-secondary-on-background {
  margin: 0;
}
